<h1><%= t('activerecord.models.ticket_status', count: @ticket_statuses.size) %></h1>

<ul>
    <% @ticket_statuses.each do |p| %>
        <li><%= p.name %> |
          <%= link_to 'Eliminar', ticket_status_path(p), data: { turbo_method: :delete, turbo_confirm: "Estás seguro?" } %> |
          <%= link_to 'Editar', edit_ticket_status_path(p) %> </li></li>
    <% end %>
</ul>

<%= link_to t('views.ticket_status.new'), new_ticket_status_path %>
